
:root {
  --bg: #f5f5dc;
  --text: #222;
  --card: #fff;
  --primary: #c89b3c;
}

body.dark {
  --bg: #121212;
  --text: #f1f1f1;
  --card: #1e1e1e;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

/* Loader */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: 0.5s;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

body.dark .navbar {
  background: rgba(0,0,0,0.6);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links a.active-link {
  color: var(--primary);
  font-weight: bold;
  transform: scale(1.1);
}

/* Pages */
.page {
  min-height: 100vh;
  padding: 120px 20px;
  display: none;
  width: 100%;

  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.page.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 1;
  transform: translateY(0);
}

/* Center helper */
.center {
  text-align: center;
}

/* Logo */
.logo {
  width: 250px;
  display: block;
  margin: 0 auto;
}

/* Buttons */
button {
  padding: 12px 25px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.btn-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Services */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service {
  min-width: 280px;
  background: var(--card);
  padding: 20px;
  border-radius: 20px;
}

.service img {
  display: block;
  margin: 0 auto;
}

/* Footer */
.footer {
  padding: 40px 20px;
  background: rgba(0,0,0,0.05);
}

body.dark .footer {
  background: rgba(255,255,255,0.05);
}

.contact a {
  display: inline-block;
  margin: 10px;
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
}


